{% load static %}

<!-- plugins:css -->
<link rel="stylesheet" href="{% static 'main/vendors/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'main/vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'main/vendors/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'main/vendors/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'main/vendors/mdi/css/materialdesignicons.min.css' %}">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="{% static 'main/vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/js/select.dataTables.min.css' %}">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<!-- endinject -->
<link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}"/>
