{% load static %}

<!-- plugins:js -->
<script src="{% static 'main/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'main/vendors/chart.js/chart.umd.js' %}"></script>

<script src="{% static 'main/js/dataTables.select.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'main/js/off-canvas.js' %}"></script>
<script src="{% static 'main/js/template.js' %}"></script>
<script src="{% static 'main/js/settings.js' %}"></script>
<script src="{% static 'main/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'main/js/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'main/js/dashboard.js' %}"></script>
<!-- End custom js for this page-->