<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    {% include '_components/style.html' %}
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include '_components/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {% include '_components/sidebar.html' %}
        <!-- partial -->
        <div class="main-panel">
            <!-- content starts -->
            {% block content %}
            	
            {% endblock %}
            <!-- content ends -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% include '_components/script.html' %}
</body>
</html>